html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #424242;
}

h1, h2, h3, h4, h5, h6, .header {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

svg a {
  fill: #2196f3;
}

.bar-chart {
  background-color: #f0f0f0;
}

.bar-chart .bar {
  fill: #26a69a;
}

.bar-chart .label {
  fill: #bdbdbd;
}

.bar-chart .bar-group {
  cursor: pointer;
}

.bar-chart .bar-group:hover .bar {
  fill: #009688;
}

.bar-chart .bar-group:hover .label {
  fill: #424242;
}
