html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

.bar-chart {
  background-color: #f0f0f0;
}

.bar-chart .bar {
  fill: green;
}

svg a {
  fill: blue;
}
