html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #424242;
}

h1, h2, h3, h4, h5, h6, .header {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

svg a {
  fill: #2196f3;
}

/********** Bar chart **********/

.bar-chart {
  background-color: #f0f0f0;
}

.bar-chart .bar {
  fill: #26a69a;
}

.bar-chart .label {
  fill: #bdbdbd;
}

.bar-chart .bar-group {
  cursor: pointer;
}

.bar-chart .bar-group:hover .bar {
  fill: #009688;
}

.bar-chart .bar-group:hover .label {
  fill: #424242;
}

/********** Globe **********/

.globe .sphere {
  fill: #81d4fa;
  stroke: none;
}

.globe .graticule {
  stroke: #4fc3f7;
  fill: none;
}

.globe .country-path {
  fill: #ece4ad;
  stroke: #b7af79;
}

/********** Scatter plot **********/

.scatter-plot {
  background-color: #f0f0f0;
}

.scatter-plot .slider-handle {
  fill: lightgrey;
  stroke: darkgrey;
}

.scatter-plot .point {
  fill: #ce93d8;
  stroke: #AB47BC;
}

.scatter-plot .point:hover {
  fill: #AB47BC;
  stroke: #8E24AA;
}

.scatter-plot .label {
  font-size: 14px;
  fill: #424242;
}
